.botoes {
    display: flex;
    width: 50vh;
    position: relative;
    top: 80px;
    left: 30vw;
    right: 200px;
}

button {
    background-color: #efefef;
    border: 1px solid #8795a2;
    color: #656565;
    align-items: center;
    margin-right: 10px;
    font-family: Montserrat;
    font-size: 12px;
    cursor: pointer;
    border-radius: 8px;
    height: 29px;
    width: 80px;
}
a {
    height: 0px;
}
[class*=btn]:hover {
    background-color:  #8795a2;
}